@tailwind base;
@tailwind components;
@tailwind utilities;

.component-section {
  display: block;
  margin: 10px 10px;
}
.component-section button {
  margin: 0px 5px;
}
.component-section input {
  margin: 0px 5px;
}
