@tailwind base;
@tailwind components;
@tailwind utilities;

.component-section {
  display: block;
  margin: 10px 10px;
}
.component-section > button,
input,
textarea,
a,
select {
  margin: 0px 5px;
}
.component-section > select {
  margin: 10px 5px;
}
.component-section .form-control {
  margin: 10px auto;
}
.view-section {
  margin: 0px 10px;
}
